.ProjectList {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 95vw;
    
    .projectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42rem;
        height: 40rem;
        margin: 0 2rem;
        border-top: 4px dotted white;

        .projectName {
            font-size: 2rem;
            height: 1.75rem;
        }

        .projectSummary {
            font-size: 1.5rem;
            text-align: center;
        }

        .projectLinks {
            font-size: 1.5rem;
        }

        .link:hover {
            color: white;
            text-shadow: 1px 1px 1px blue;

        }

        .projectImageVisible {
            width: 40rem;
            border-radius: 5%;
            box-shadow: 2px 2px 1px black;
            opacity: 1;
        }

        .projectImageVisible:hover {
            box-shadow: 2px 2px 1px white;
            opacity: .8;
            cursor: pointer;
        }

        .projectImageInvisible {
            width: 40rem;
            border-radius: 5%;
            box-shadow: 2px 2px 1px black;
            opacity: .1;
        }

        .projectImageInvisible:hover {
            cursor: pointer;
        }
    }

    .projectPopupVisible {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 28rem;
        width: 38rem;
        font-size: 1.25rem;
        z-index: 20000; 
        cursor: pointer;
    }

    .projectPopupInvisible {
        display: none;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 28rem;
        width: 38rem;
        font-size: 1.25rem;
        z-index: 20000;
        
    }
}

@media screen and (width < 45rem) {
    .ProjectList {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .projectContainer {
            width: 27rem;
            height: 27rem;
            margin: 0 2rem;

            .projectName {
                font-size: 1.5rem;
            }

            .projectSummary {
                font-size: 1rem;
            }

            .projectLinks {
                font-size: 1rem;
            }

            .projectImageVisible {
                width: 25rem;
            }

            .projectImageInvisible {
                width: 25rem;
            }
        }

        .projectPopupVisible {
            font-size: 1rem;
            width: 23rem;
            bottom: 20rem;
        }
    }
}