.NavBar {
    background-color: lightgrey;
    width: 100vw;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;

    .linkContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    height: 100%;
    margin-left: 5rem;

        .navLink {
            font-size: 1.25rem;
            text-decoration: none;
            color: black;
        }
        .navLink:hover {
            color: white;
        }

    }
}