.skillListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .skillList {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        column-gap: 2rem;
        place-items: center;
        padding: 0;

        .icon {
            max-width: 3rem;
        }
    }
}