@keyframes fadeInAndOut {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.attributesList {
    height: 8rem;
    text-align: center;
 
    .displayFade {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 2px black;
        animation: fadeInAndOut 5s linear
    }
    .null {
        opacity: .0
    }
}

@media screen and (width < 40rem) {
    .displayFade {
        font-size: 1.5rem !important;
    }
}

@media screen and (width > 70rem) {
    .displayFade {
        font-size: 3vw !important;
    }
}