.NavFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: lightgrey;
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 7.5rem;
    border-top: 1px solid black;

    .Copyright {
        position: absolute;
        left: 1rem;
        bottom: 0;
    }

    .footerLink {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .footerIcon {
            height: 2.75rem; 
            position: absolute;
        }
        .footerIcon:hover {
            height: 3rem;
        }
    }
}

@media screen and (width < 45rem) and (width > 25rem) {
    .NavFooter {
        gap: 5rem;
    }

    .Copyright {
        position: static !important;
    }
}

@media screen and (width <= 25rem) {
    .NavFooter {
        gap: 3rem;
    }
    .Copyright {
        position: static !important;
    }
}



